@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');
:root {
    --clock-font: 'Source Code Pro', monospaced;
}


html, body {
    /*min-width: 100%;*/
    min-height: 100%;
}

body {
    background-color: rgba(53, 61, 92, 0.82);
    overflow-x: hidden;
    margin: 0 10px;
}

.container {
    width: 97%;
    display: flex;
    flex-direction: column;
    /*grid-template-areas:*/
    /*    "username1 clock1"*/
    /*    "board board"*/
    /*    "username2 clock2";*/
    /*grid-template-rows: 50px auto 50px;*/
    /*grid-template-columns: 48.5% 48.5%;*/
    margin: 20px 1.5%;
    /*justify-items: stretch;*/
}

#board {
    width: inherit;
    /*align-self: start;*/
    /*width: 400px;*/
    /*justify-self: stretch;*/
    /*padding: 0 5px;*/
}


.board-b72b1 {
    border: 3px solid black;
    width: inherit;
}

.clock {
    background: none;
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    font-family: var(--clock-font);
}

.username {
    background: none;
    color: white;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    font-size: 1em;
}

.user-info {
    display: flex;
    justify-content: space-between;
    margin-right: 6px;
    font-family: var(--clock-font);
}

.pgn {
    display: block;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 10px 10px;
    color: whitesmoke;
    background-color: rgba(37, 39, 55, 0.82);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
span:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    color: black;
    cursor: pointer;
}
/*.clock:nth-of-type(1) {*/
/*    background-color: ghostwhite;*/
/*    color: black;*/
/*    border-bottom-left-radius: 10px;*/
/*    border-top-left-radius: 10px;*/
/*}*/


/*.clock:nth-of-type(2) {*/
/*    background-color: black;*/
/*    color: whitesmoke;*/
/*    border-bottom-right-radius: 10px;*/
/*    border-top-right-radius: 10px;*/
/*}*/

/*#display {*/
/*    !*border: 3px solid red;*!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    !*background-color: rgba(37, 39, 55, 0.82);*!*/
/*    color: whitesmoke;*/
/*    width: 20rem;*/
/*    padding: 0 1rem;*/
/*    height: inherit;*/
/*    margin-left: 1rem;*/
/*    !*box-shadow: 4px 3px 4px 1px rgba(0, 0, 0, 0.71);*!*/

/*}*/

/*#display.container{*/
/*    justify-content: space-between;*/
/*}*/

/*.pgn{*/
/*    height: 100%;*/
/*    overflow: auto;*/
/*    background-color: rgba(37, 39, 55, 0.82);*/
/*}*/

/*.clock {*/
/*    position: relative;*/
/*    height: 5rem;*/
/*    width: 100%;*/
/*    !*border: 3px solid ghostwhite;*!*/
/*    color: whitesmoke;*/
/*    !*text-align: center;*!*/
/*    font-family: 'Source Code Pro', monospace;*/
/*    font-size: 2em;*/
/*    !*text-align: center;*!*/
/*}*/

/*.clock div {*/
/*    display: block;*/
/*    background-color: rgba(37, 39, 55, 0.82);*/
/*    padding: 1rem 1.5rem;*/
/*    margin: 1rem 0;*/
/*    border-radius: 0.5rem;*/
/*    box-shadow: 4px 3px 4px 1px rgba(0, 0, 0, 0.71);*/

/*}*/

/*MEDIA QUERIES*/

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 760px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1280px) {

}