:root {
    --darkColor: #536f80;
    --lightColor: #ffffff;
}

.white-1e1d7 {
    background-color: var(--lightColor);
    color: var(--darkColor);
}

.black-3c85d {
    background-color: var(--darkColor);
    color: var(--lightColor);

}