<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/9162a0353b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/libraries/node_modules/chrisoakman/chessboardjs/dist/chessboard-1.0.0.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <title>Analysis</title>
</head>
<body>

<input type="hidden" id="gameAsJSON" th:value="${gameAsJSON}">

<!--TODO fix. Some links have no meaning in an analysis context-->
<nav class="nav">
    <ul class="nav-links">
        <li class="nav-link"><a href="#" class="profile-link">SirRobin95</a></li>
        <li id="newGame" class="nav-link">New Game</li>
        <li class="nav-link endgame"><i class="fa fa-hands-helping"></i>
            <div class="end-buttons">
                <a href="#" class="draw">Offer Draw</a>
                <a href="#" class="resign">Resign</a>
                <div class="window-close">
                    <span class="fa fa-window-close"></span>
                </div>
            </div>
        </li>
    </ul>
</nav>
<main class="container">

    <div id="player2-info" class="user-info">
        <div class="username" th:text="${game.black.username}"></div>
        <div id="clock1" class="black-clock clock">2:00</div>
    </div>

    <div id="board"></div>

    <div id="player1-info" class="user-info">
        <div class="username" th:text="${game.white.username}"></div>
        <div id="clock2" class="white-clock clock">2:00</div>
    </div>

    <nav class="logs-nav">
        <ul class="log-links">
            <li id="FEN-link" class="widget-link" data-for="FEN-log"><span class="fa fa-chess-pawn"></span></li>
        </ul>
    </nav>
    <section class="logs">
        <div id="fen-log" class="log active">
            <ol id="fen-long-form" class="log-window"></ol>
        </div>
    </section>
</main>

<script th:src="@{/libraries/node_modules/chess.js/chess.js}"></script>
<script th:src="@{/libraries/node_modules/jquery/dist/jquery.js}"></script>
<script th:src="@{/libraries/node_modules/chrisoakman/chessboardjs/dist/chessboard-1.0.0.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/analysis.js}"></script>
</body>
</html>