<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/libraries/node_modules/chrisoakman/chessboardjs/dist/chessboard-1.0.0.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Let's Play Chess</title>
</head>
<body>

<main class="container">

    <div id="black-info" class="user-info">
        <div class="username">Black's Username</div>
        <div id="clock1" class="black-clock clock">2:00</div>
    </div>

    <div id="board"></div>
    <div id="white-info" class="user-info">
        <div class="username">White's Username</div>
        <div id="clock2" class="white-clock clock">2:00</div>
    </div>
    <div id="pgn" class="pgn">Waiting for the first move!</div>

</main>

<script src="webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script src="webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
<script th:src="@{/libraries/node_modules/chess.js/chess.js}"></script>
<script th:src="@{/libraries/node_modules/jquery/dist/jquery.js}"></script>
<script th:src="@{/libraries/node_modules/chrisoakman/chessboardjs/dist/chessboard-1.0.0.js}"></script>
<script th:src="@{/js/websocket.js}"></script>
<script th:src="@{/js/app_chess.js}"></script>
</body>
</html>