<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/landing.css}">
    <title>ChessLive</title>
</head>
<body>
<nav class="nav">
    <ul class="nav-links">
        <li class="nav-link" sec:authorize="isAuthenticated()">
            <a class="profile-link" th:href="@{'/user/' + ${session.user.username}}" th:text="${session.user.username}"></a>
        </li>
        <li class="nav-link">Play</li>
        <li class="nav-link">
            <a th:href="@{/analysis}">Analysis</a>
        </li>
        <li class="nav-link" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">Login</a>
        </li>
    </ul>
</nav>
<aside class="wrapper">
    <div class="time-control" th:each="control : ${T(com.example.chess.model.entity.TimeControl).values()}">
        <a th:text="${control.name}" th:href="@{/new_game(time_control=${control.name})}"></a>
    </div>
</aside>

<script src="webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script src="webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
<script th:src="@{/js/landing.js}"></script>
</body>
</html>